* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-image: url(images/Graphic-Era-University-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 10x;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background: #5a67d8;
}

.container p {
    margin-top: 15px;
}

.container a {
    color: #667eea;
    text-decoration: none;
}

.message {
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
}

.success {
    color: green;
}

.error {
    color: red;
}

.logo {
    width: 80px;
    margin-bottom: 15px;
}

.password-box {
    position: relative;
}

.password-box span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: blue;
}